table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(202, 178, 178, 0.34);
}

td#bid-price.center-align {
  font-size: 1.5em;

}

td#ask-price.center-align {
  font-size: 1.5em;
}

input#amount {
  text-align: center;


}
td#tdAmount {
  width: 120px;
}
th#tdAmount {
    width: 120px;
}

#headerDiv {
  height: 30px;
}

table#header.striped {
  margin-top: 2.5em;
  border-radius: 25px !important;
}

thead#ordersHead {
  border: 1px solid black;
  border-radius: 25px !important;



}
tbody#ordersBody {
  border: 1px solid black;
  border-radius: 25px !important;



}


button.btn.btn-small.waves-effect.waves-light{
  background-color: #19504b;
  color: #if0303;
}



body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
